.card{
    background-color: var(--white);
    border-radius: 20px;
    margin: 10px;
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}