.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, var(--red) 10%, var(--red) 60%, var(--white) 200%);
}

.gintamaImg{
    height: 450px;
    position:absolute;
    right: 50px;
    bottom: 0px
}

.halterImg{
    height: 450px;
    position:absolute;
    left: 0;
    bottom: 0;
}