.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer img{
    width: 40px;
}

.imagens{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0;
}

.imagens a{
    margin-left: 20px;
}

.footer h1{
    font-size: 1.6em;
    font-family: var(--font);
    margin: 0;
    padding-top: 10px;
}