@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
  --white: #ffffff;
  --black: #000000;
  --red: #b53737;
  --font: 'Itim', cursive;
  --background: linear-gradient(45deg, var(--red) 10%, var(--red) 60%, var(--white) 200%);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
